<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css"
        integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">


    <title>Portfolio</title>
</head>

<body>
    <div class="frame"> <!--frame for full body -->
        <div class="main_frame"> <!--main frame inside body -->
            <div class="left_frame"> <!---->
                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/profile.png" width="156px" height="142px" alt="rasm bor">
                    </div>
                    <div class="left_1_2">
                        <%=user.name%>
                    </div>

                    <div class="left_1_3">
                        <%=user.profession%>
                    </div>
                    <div class="left_1_4">

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/facebook.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/instagram.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">

                            <div class="icon">
                                <img src="icon/linkeding.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/twitter.svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/youtube.svg" class="icon-1">
                            </div>
                        </a>

                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/dribbble.svg" class="icon-1">
                            </div>
                        </a>

                    </div>
                </div>
                <div class="marginer">
                    <hr>
                </div>


                <div class="left_2">
                    <div class="left_2_1">
                        <div class="age" style="background-color: orange;">Age:</div>
                        <div class="age_n">24</div>
                    </div>
                    <div class="left_2_2">
                        <div class="residence" style="background-color: orange;">Residense:</div>
                        <div class="residence_type">E-7</div>
                    </div>
                    <div class="left_2_3">
                        <div style="background-color: orange;">Freelance:</div>
                        <div style="color: aquamarine;">available</div>
                    </div>
                    <div class="left_2_4">
                        <div style="background-color: orange;">Adress:</div>
                        <div>Seoul, South Korea</div>
                    </div>
                </div>
                <div class="marginer">
                    <hr>
                </div>

                <!--Languages-->
                <div class="left_3">
                    <div class="left_3_1">
                        <h4>Language</h4>
                    </div>
                    <div class="left_3_2">
                        <div class="language-name">English:</div>
                        <div class="language-per">100%</div>
                    </div>
                    <div class="left_3_3">
                        <div>Korean</div>
                        <div>80%</div>
                    </div>
                    <div class="left_3_4">
                        <div>Russian</div>
                        <div>70%</div>
                    </div>
                </div>
                <div class="marginer">
                    <hr>
                </div>


                <div class="left_4">
                    <div class="left_4_1">
                        <h4>Skill</h4>
                    </div>
                    <div class="left_4_2">

                        <div>html</div>
                        <div>95%</div>

                    </div>
                    <div class="left_4_3">

                        <div>CSS</div>
                        <div>80%</div>

                    </div>

                    <div class="left_4_4">

                        <div>JS</div>
                        <div>80%</div>

                    </div>
                    <div class="left_4_5">

                        <div>PHP</div>
                        <div>85%</div>

                    </div>
                    <div class="left_4_6">

                        <div> Java</div>
                        <div>70%</div>
                    </div>
                </div>
                <div class="marginer">
                    <hr>
                </div>



                <div class="left_5">

                    <div class="left_5_1">

                        <h4>Extra skills</h4>

                    </div>

                    <div class="left_5_2">


                        <div><img src="/author/icon/Icons.png" style="width: 15px; height: 15px;" alt=""></div>
                        <div>Bootstrap, Materalize</div>
                    </div>

                    <div class="left_5_3">
                        <div><img src="/author/icon/Icons.png" style="width: 15px; height: 15px;" alt=""></div>
                        <div>Stylus,Sass,Less</div>
                    </div>

                    <div class="left_5_4">
                        <div><img src="/author/icon/Icons.png" style="width: 15px; height: 15px;" alt=""></div>
                        <div>Glup, Webpack, Grant</div>
                    </div>

                    <div class="left_5_5">

                        <div><img src="/author/icon/Icons.png" style="width: 15px; height: 15px;" alt=""></div>
                        <div>Git Knowladge</div>
                    </div>

                </div>
                <div class="marginer"></div>
            </div>


            <div class="combine">
                <div class="midd_frame">
                    <div class="midd_1">


                        <div class="midd_1_1">

                            <div class="heading">
                                <h1 class="heading_1">Software engineer in *****</h1>
                            </div>
                            <div class="text">
                                <p class="text_1">"Be fast, do great!"</p>
                            </div>
                            <div>
                                <button style="background-color: orange;" class="hire">Hire me → </button>
                            </div>
                        </div>


                        <div class="midd_1_2">
                            <img src="/author/images/image.png" class="picture" alt="">
                        </div>

                    </div>

                    <!-- About-->

                    <div class="about">
                        <h1>Why I am here</h1>
                        <p></p>I help businesses to create amazing both web and mobile applications</p>
                    </div>

                    <div class="parent">
                        <div class="child">
                            <img src="/author/box_images/box_1.png" alt="" style="width: 70px; height: 70px;">
                            <h4>Web development</h4>
                            <p>Blog, E-commerse</p>
                        </div>
                        <div class="child">

                            <img src="/author/box_images/box_2.png" alt="" style="width: 70px; height: 70px;">
                            <h4>UI/UX Desighn</h4>
                            <p>Mobile App, Website design</p>
                        </div>

                        <div class="child">
                            <img src="/author/box_images/box_3.png" alt="" style="width: 70px; height: 70px;">
                            <h4>Sound design</h4>
                            <p>Voice Over Beat Makin</p>
                        </div>

                        <div class="child">
                            <img src="/author/box_images/box_4.png" alt="" style="width: 70px; height: 70px;">
                            <h4>Game Design</h4>
                            <p>Character Design Props & Objects</p>
                        </div>

                        <div class="child">
                            <img src="/author/box_images/box_5.png" alt="" style="width: 70px; height: 70px;">
                            <h4>Photography</h4>
                            <p>Portrait Pruduct Photography</p>
                        </div>

                        <div class="child">
                            <h4>Advertising</h4>
                            <p style="padding: 20px;">Expert Care for Every Connection—Rewiring Lives, One Mind at a
                                Time
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right_frame" style="">
            <div class="icon-1">
                <img src="/author/btn_icon/icon1.png" alt="" style="width: 30px; height: 30;">
            </div>
            <div class="icons">
                <div>
                    <img src="/author/btn_icon/home.png" alt="" style="width: 50px; height: 50;">
                </div>

                <div style="margin-top: 15px;">
                    <img src="/author/btn_icon/service.png" alt="" style="width: 40px; height: 40;">
                </div>

                <div style="margin-top: 15px;">
                    <img src="/author/btn_icon/icons_cv.png" alt="" style="width: 25px; height: 25;">
                </div>

                <div style="margin-top: 15px;">
                    <img src="/author/btn_icon/portfolio.png" alt="" style="width: 25px; height: 25;">
                </div>
                <div style="margin-top: 15px;">

                    <img src="/author/btn_icon/blog.png" alt="" style="width: 25px; height: 25;">
                </div>
                <div style="margin-top: 15px;">

                    <img src="/author/btn_icon/contact.png" alt="" style="width: 45px; height: 45;">
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html